body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  line-height: 1.6em;
  font-size: 1.05em;
  color: #333;
}
pre, code {
  font-family: 'Source Code Pro', monospace;
  line-height: 1.6em;
}
pre {
  padding: 0.3em;
}
code {
  margin: 0;
  padding: 0 0.4em;
  border-radius: 0.15em;
  background-color: #f2f2f2;
  color: #777;
}
h1 {
  margin-block-start: 0.3em;
  margin-block-end: 1.5em;
  padding-bottom: 0.3em;
  border-bottom: solid 3px black;
  line-height: 1.2em;
}
a {
  color: #0000D0;
  text-decoration-line: none;
}
a:hover {
  text-decoration-line: underline;
}
details {
  cursor: pointer;
}
.block {
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
}
.wrapping {
  overflow: scroll;
}
.wrapping::-webkit-scrollbar {
  display: none;
}
#container {
  margin: 0 auto;
  max-width: 840px;
}
#table {
  border-collapse: collapse;
  margin: 0 auto;
}
#table th {
  padding: 0 1em;
}
#table td {
  padding: 0 1em;
  text-align: center;
}
#table .same {
  background-color: #dcd6d9;
}
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal !important;
}
.prettyprint {
  overflow: scroll;
  background-color: white;
}
.linenums {
  margin-left: 10px;
}
.MathJax_SVG::before {
  content: "";
  padding-left: 0.25em;
}
.MathJax_SVG::after {
  content: "";
  padding-left: 0.25em;
}
.MathJax_SVG_Display {
  overflow: scroll;
}
.MathJax_SVG_Display::-webkit-scrollbar {
  display: none;
}
details summary::-webkit-details-marker {
  display: none;
}
